{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div class="p-0">
            <h1>List of jobs</h1>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Url</th>
            <th scope="col">Ordered Likes</th>
            <th scope="col">Date</th>
            <th scope="col">Period(sec)</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ job.url }} </td>
                <td>{{ job.ordered_likes }}</td>
                <td>{{ job.date.strftime('%Y-%m-%d %H-%m') }}</td>
                <td>{{ job.period }}</td>
                <td>
                    {% if job.state %}
                        <button class="btn btn-sm btn-success" disabled>Done</button>
                    {% else %}
                       <button class="btn btn-sm btn-secondary" disabled>Not done</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}