{% extends 'base.html' %}

{% block header %}
<section>
    <!--Main Title Image -->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 text-center">
                        <h1 class="m-0 display-4">ThumbsUp JobTask Server</h1>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Title Image -->
</section>
{% endblock %}

{% block container %}
{% endblock %}